[Desktop Entry]
Encoding=UTF-8
Name=Link to Download \ Processing.org
Type=Link
URL=https://processing.org/download/
Icon=text-html
Name[en_US]=Link to Download \\ Processing.org [download here]
