[Desktop Entry]
Encoding=UTF-8
Name=Link to FreeMat
Type=Link
URL=http://freemat.sourceforge.net/#download
Icon=text-html
Name[en_US]=Link to FreeMat [download here]
